.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #7370596e;
  display: flex;
  height: 90vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 32px;
  font-size: calc(10px + 2vmin);
}

.input-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

input {
  width: 320px;
  min-height: 30px;
  border: #ffdc0e solid 2px;
  border-radius: 4px;
}

.addButton {
  margin-left: 20px;
  width: 120px;
  height: 35px;
  border: darkcyan solid 2px;
  border-radius: 4px;
  font-size: 16px;
  letter-spacing: 2px;
  background-color: cadetblue;
  font-weight: 500;
}

.listContainer {
  flex-direction: column;
  display: flex;
  margin-top: 20px;
  text-align: start;
  width: 400px;
}

.listItemContainer {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.deleteButton {
  border-radius: 8px;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-left: 10px;
  background-color: rgba(255, 0, 0, 0.56);
}